/* -----------------------------------------------------------------------------
// This file includes deliberate errors in order for you to verify that
// Stylelint and EditorConfig are working properly. If both tools are, indeed,
// working correctly, then you’d see various errors in your editor about
// indentation and violations of CSS syntax. When you save this file, your
// editor should strip all excess newlines and whitespace characters from the
// file. If both of these events occur, then Stylelint and EditorConfig are
// working correctly.
//
// DON’T PROCEED UNTIL YOU’RE SURE STYLELINT AND EDITORCONFIG ARE WORKING RIGHT
// -------------------------------------------------------------------------- */

body {
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  padding: 5px;
  line-height: 1.1875;
}

h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 0.87rem;
  padding-bottom: 40px;
}

h4 {
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

p {
  padding: 5px;
  text-align: left;
  line-height: 1.4;
}

.carousel {
  position: relative;
  width: 640px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-navigation {
  position: absolute;
  top: 290px;
  width: 640px;
  z-index: 3;
}

a:nth-child(2) {
  padding-left: 540px;
}
